{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="DIV_1">
                <h1 id="H1_2">
                    Enquête de satisfaction
                </h1>
                <div id="content_first" class="clearfix">
                    <h2>Merci pour votre participation</h2>
                    {% if tombola == true %}
                    <p>L&#39;enquête de satisfaction est à présent terminée. Par mesure de confidentialité, vous

                        allez être redirigé vers un formulaire indépendant pour participer à la tombola (attention,

                        une seule participation possible).</p>
                    {% else %}
                        <p>L'enquête de satisfaction est à présent terminée. Si vous avez effectués des modifications elles seront enregistrés. Attention vous avez déjà participé à la tombola.</p>
                        <p>Vous pouvez modifier vos réponses en passant par ce lien : <a href="https://cepsa-sochaux-sondage.com/1">https://cepsa-sochaux-sondage.com/1</a></p>
                    {% endif %}
                    <a target="_blank" href="/bundles/app/images/reglement.pdf">Règlement complet de la tombola</a>
                    <center><button id="tombola">Participer</button></center>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        #tombola{
            font-family: "Calibri Light";
            font-size: 20px;
            padding: 10px;
            border: none;
            text-align: center;
            border-radius: 5px;
            background: orangered;
            color: white;
        }
        .col_id {
            text-align: center;
            color:white;
            background: orangered;
        }
        .active{
            background: #868686;
        }
        textarea {
            width: 99%;
            height: 40px;
            margin: 0px;
        }
        .table_input {
            text-align: center;
        }
        th {
            background-color: #1197d0;
            color: white;
            padding: 5px;
            text-transform: uppercase;
        }
        td {
            /*width: 50px;*/
        }
        .btn {
            border: none;
            padding: 10px;
            color: white;
            margin-top: 35px;
            float: right;
            border-radius: 5px;
        }
        tr:nth-child(odd) {
            background: #cbdaff;
        }
        .warning {
            border:1px solid palevioletred;
        }
        h3 {
            color: white;
            background: orangered;
            width: 100px;
            padding: 5px;
            text-align: center;
        }
        @media screen and (max-width: 640px) {
            table,
            tbody,
            tr,
            td {
                display: block;
                width: auto!important;
                /* parceque tu as mis des style inline grrr */
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        {% if tombola == false %}
            $("#tombola").html("Vous avez déjà participé");
            $("#tombola").prop('disabled', true);
            $("#tombola").css('background', '#aaaaaa');
        {% endif %}
        $("#tombola").on('click', function () {
            window.open('https://cepsa-sochaux-sondage.com/sondage/{{ client }}', "nom_popup","directories=0,titlebar=0,toolbar=no,location=no,status=0,menubar=0,scrollbars=no,resizable=no,width=345,height=535")
        })
    </script>
{% endblock %}


