{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">



                <p>
                    IJFIAZJFPAZFJPOAZFJOPAZFJOPAZFJPOAZFJPO
                    {% image '@AppBundle/Resources/public/images/cepsa.JPG'  output="images/mano.jpg" %}
                    <img src="{{ asset_url }}" width="100%" height="100%" alt="my alt of image" class="pull-left">
                    {% endimage %}
                </p>



        </div>
    </div>
{% endblock %}


