{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">



                <p>
                    Site en cours de construction : bientot en ligne
                </p>



        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        body { background: {{ asset('cepsa.jpeg') }}; font: 18px/1.5 sans-serif; }
    </style>
{% endblock %}
