{% extends 'base.html.twig' %}



{% block body %}
    <div id="wrapper">
        <div id="container">



                <p>
                    Site en cours de construction : bientot en ligne
                </p>



        </div>
    </div>
{% endblock %}

{% block stylesheets
'@AppBundle/Resources/public/css/reset.css'
'bundles/App/css/style.css'
filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
{% endblock %}
