{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="DIV_1">
                <h1 id="H1_2">
                    Enquête de satisfaction
                </h1>
                <div id="content_first">
                    <h2>Objectif</h2>
                <p id="P_3">
                    En ces temps incertains, votre CE s'efforce de vous satisfaire au quotidien. Avec un budget réduit suite à la baisse des effectifs du site, nous souhaitons avoir votre ressenti sur les prestations actuelles et votre utilisation.
                    Cette enquête décisive influera sur l'avenir de votre CE, c'est pourquoi nous comptons sur votre participation !<br id="BR_4" />
                </p>
                    <h2>Tombola</h2>
                    <p id="P_3">
                     A la fin de l'enquête vous serez redirigé vers une URL afin de participer à une tombola. Vous pouvez retrouver le règlement ici : <a href="">cepsa-sochaux.com/reglement</a>   <br id="BR_4" />
                    </p>
                    <div id="numero_anonyme" class="clearfix">
                        <h2>Votre N° de participation anonyme</h2>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        {{ form_end(form) }}
                    </div>
                    {% for flashMessage in app.session.flashbag.get('error') %}
                    <br><br>
                        <div id="flash">
                        {{ flashMessage }}
                        </div>
                    {% endfor %}
                    <br><br>
                    <i><center>Toutes vos réponses seront anonymes et utilisés dans la cadre seul de statistique afin que le Ce PSA puissent établir des corrélations entre les prestations et les utilisateurs. Aucune de vos données personnelles ne sera enregistrée</center></i>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $("#form_code").on('keypress', function () {
            var ten_char = $("#form_code").val().length+1;
            if(ten_char>=10){
                $("#form_save").addClass('btn_ok');
            }
            else {
                $("#form_save").removeClass('btn_ok');
            }
        })
    </script>
{% endblock %}


