{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="DIV_1">
                <h1 id="H1_2">
                    Enquête de satisfaction
                </h1>
                <div id="content_first" class="clearfix">
                    <h1>Parmis l'ensemble des prestations mentionnées dans les questions précédentes indiquez les 5 qui vous interessent <bold>le plus</bold></h1>
                    <div class="styled-select slate">
                        <select>
                            <option value="0">Here is the first option</option>
                            <option value="1">The second option</option>
                            <option value="2">The third option</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        select#soflow, select#soflow-color {
            -webkit-appearance: button;
            -webkit-border-radius: 2px;
            -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
            -webkit-padding-end: 20px;
            -webkit-padding-start: 2px;
            -webkit-user-select: none;
            background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
            background-position: 97% center;
            background-repeat: no-repeat;
            border: 1px solid #AAA;
            color: #555;
            font-size: inherit;
            margin: 20px;
            overflow: hidden;
            padding: 5px 10px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 300px;
        }
        .block h2 {
            font-size: 16px;
            float:left;
        }
        .block input, .block label, .block select {
            margin-top: 15px;
            margin-left: 10px;
        }
        .col_id {
            text-align: center;
            color:white;
            background: orangered;
        }
        .active{
            background: #868686;
        }
        textarea {
            width: 320px;
            height: 40px;
            margin: 0px;
        }
        .table_input {
            text-align: center;
        }
        th {
            background-color: #1197d0;
            color: white;
            padding: 5px;
            text-transform: uppercase;
        }
        td {
            /*width: 50px;*/
        }
        .btn {
            border: none;
            padding: 10px;
            color: white;
            margin-top: 35px;
            float: right;
            border-radius: 5px;
        }
        tr:nth-child(odd) {
            background: #cbdaff;
        }
        .warning {
            border:1px solid palevioletred;
        }
        h3 {
            color: white;
            background: orangered;
            width: 100px;
            padding: 5px;
            text-align: center;
        }
        .error label{
            display: none;
        }
        @media screen and (max-width: 640px) {
            table,
            tbody,
            tr,
            td {
                display: block;
                width: auto!important;
                /* parceque tu as mis des style inline grrr */
            }
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script type="text/javascript">
        jQuery.validator.setDefaults({
            debug: false,
            success: "valid"
        });
        var form = $("#myForm");
        form.validate({ errorPlacement: function(error, element) {} });
        form.on('change', function () {

            if(form.valid()){
                $('#form_save').prop("disabled",false);
                $('#form_save').css("background", "#1197d0");
            }
            else {
                $('#form_save').prop("disabled",false);
            }
            $(".error label").hide();
        });
    </script>
{% endblock %}


