    {% extends 'base.html.twig' %}

    {% block body %}
        <div id="wrapper">
            <div id="container">
                <div id="DIV_1">
                    <h1 id="H1_2">
                        Enquête de satisfaction
                    </h1>
                    <div id="content_first" class="clearfix">
                        <h2> Parmis les prestations vues dans les questions précédentes, indiquez vos 5 prestations préférées (bleu) puis les 5 prestations qui vous intéressent le moins.</h2>
                        <div class="clearfix cnt">
                            <div class="left">
                                <div class="mySelect">
                                    <form name="presta" method="post" id="myForm">
         <span class="custom-dropdown custom-dropdown--white">
        <select class="custom-dropdown__select custom-dropdown__select--white" id='select_1' name="select_1">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
    </span>
                                </div>
                                <div class="mySelect">
        <span class="custom-dropdown custom-dropdown--white">
          <select class="custom-dropdown__select custom-dropdown__select--white" id='select_2' name="select_2">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
        </span>
                                </div>
                                <div class=" mySelect">
        <span class="custom-dropdown custom-dropdown--white">
          <select class="custom-dropdown__select custom-dropdown__select--white" id='select_3' name="select_3">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
        </span>
                                </div>
                                <div class="mySelect">
        <span class="custom-dropdown custom-dropdown--white">
          <select class="custom-dropdown__select custom-dropdown__select--white" id='select_4' name="select_4">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
        </span>
                                </div>
                                <div class="mySelect">
        <span class="custom-dropdown custom-dropdown--white">
          <select class="custom-dropdown__select custom-dropdown__select--white" id='select_5' name="select_5">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
        </span>
                                </div>
                            </div>

                            <!-- LEFT SIDE -->



                            <div class="right">
                                <div class="mySelect">
         <span class="custom-dropdown custom-dropdown--orange">
        <select class="custom-dropdown__select custom-dropdown__select--white orange" id='select_1_n' name="select_1_n">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
    </span>
                                </div>
                                <div class="mySelect">
        <span class="custom-dropdown custom-dropdown--orange">
          <select class="custom-dropdown__select custom-dropdown__select--white orange" id='select_2_n' name="select_2_n">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
        </span>
                                </div>
                                <div class=" mySelect">
        <span class="custom-dropdown custom-dropdown--orange">
          <select class="custom-dropdown__select custom-dropdown__select--white orange" id='select_3_n' name="select_3_n">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
        </span>
                                </div>
                                <div class="mySelect">
        <span class="custom-dropdown custom-dropdown--orange">
          <select class="custom-dropdown__select custom-dropdown__select--white orange" id='select_4_n' name="select_4_n">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
        </span>
                                </div>
                                <div class="mySelect">
        <span class="custom-dropdown custom-dropdown--orange">
          <select class="custom-dropdown__select custom-dropdown__select--white orange" id='select_5_n' name="select_5_n">
            <option selected disabled>Choisissez</option>
            <optgroup label="Prestation Adulte">
                <option value='1'>1. Aide Vacances Adulte</option>
                <option value='2'>2. Chèque-Vacances</option>
                <option value='3'>3. Aide Loisirs Culture Adulte</option>
                <option value='4'>4. Handi-Vac</option>
            </optgroup>
            <optgroup label="Prestation enfant">
                <option  value='5'>5. Aide Vacances Jeune</option>
                <option value='6'>6. Aide Loisirs Culture Jeune</option>
                <option value='7'>7. Jouets de Noël</option>
                <option value='8'>8. Aide Rentrée Scolaire</option>
                <option value='9'>9. Aide soutien scolaire domicile</option>
            </optgroup>
            <optgroup label="Prestation Famille/Quotidien">
                <option value='10'>10. Spectacle de fin d’année</option>
                <option value='11'>11. Bon d’achat Famille</option>
                <option value='12'>12. Aide Ménagère</option>
                <option value='13'>13. Service Social</option>
                <option value='14'>14. Permanence juridique</option>
                <option value='15'>15. Permanence logement</option>
            </optgroup>
            <optgroup label="Prestation pouvoir d'achat">
                <option value='16'>16. Billetterie à Tarif Négocié</option>
                <option value='17'>17. Billetterie avec Aide Spéciale</option>
                <option value='18'>18. Sorties spéciales Journée</option>
                <option value='19'>19. Sorties spéciales Week-end</option>
                <option value='20'>20. Les Estivales</option>
                <option value='22'>22. Ventes au CE</option>
                <option value='23'>23. Vente fournitures scolaires</option>
                <option value='21'>21. Culture</option>
                <option value='24'>24. Commandes groupées</option>
                <option value='25'>25. Réductions carte CE</option>
            </optgroup>
        </select>
        </span>

                                </div>
                                </form>
                            </div>
                        </div>
                        <button class="left">Précédent</button>
                        <input class="btn" type="submit" value="Suivant" name="submit">
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block stylesheets %}
        <style>
            .cnt {
                width: 850px;
            }
            .left{
                float: left;
            }
            .right{
                float: right;
            }
            .mySelect {
                display: block;
                width: 20%;
            }
            .custom-dropdown--large {
                font-size: 1.5em;
            }

            .custom-dropdown--small {
                font-size: .7em;
            }

            .custom-dropdown__select{
                font-size: inherit; /* inherit size from .custom-dropdown */
                padding: .5em; /* add some space*/
                margin: 0; /* remove default margins */
            }

            .custom-dropdown__select--white {
                background-color: #fff;
                color: #444;
            }

            @supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

                .custom-dropdown {
                    position: relative;
                    display: inline-block;
                    vertical-align: middle;
                }

                .custom-dropdown__select {
                    padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
                    border: 0;
                    border-radius: 3px;
                    border: 1px solid #03A9F4;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                }

                .custom-dropdown::before,
                .custom-dropdown::after {
                    content: "";
                    position: absolute;
                    pointer-events: none;
                }

                .custom-dropdown::after { /*  Custom dropdown arrow */
                    content: "\25BC";
                    height: 1em;
                    font-size: .625em;
                    line-height: 1;
                    right: 1.2em;
                    top: 50%; margin-top: -.5em;
                }

                .custom-dropdown::before { /*  Custom dropdown arrow cover */
                    width: 2em;
                    right: 0; top: 0; bottom: 0;
                }

                .custom-dropdown__select[disabled] {
                    color: rgba(0,0,0,.3);
                }

                .custom-dropdown.custom-dropdown--disabled::after {
                    color: rgba(0,0,0,.1);
                }

                /* White dropdown style */
                .custom-dropdown--white::before {
                    background-color: #03A9F4;
                }

                .custom-dropdown--orange::before {
                    background-color: orangered;
                }

                .custom-dropdown--white::after, .custom-dropdown--orange::after {
                    color: rgba(255,255,255,1);
                }
                .orange {
                    border:1px solid orangered;
                }

                /* FF only temp fix */
                @-moz-document url-prefix() {
                    .custom-dropdown__select              { padding-right: .9em }
                    .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
                    .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
                }
            }
            select#soflow, select#soflow-color {
                -webkit-appearance: button;
                -webkit-border-radius: 2px;
                -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
                -webkit-padding-end: 20px;
                -webkit-padding-start: 2px;
                -webkit-user-select: none;
                background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
                background-position: 97% center;
                background-repeat: no-repeat;
                border: 1px solid #AAA;
                color: #555;
                font-size: inherit;
                margin: 20px;
                overflow: hidden;
                padding: 5px 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 300px;
            }
            .block h2 {
                font-size: 16px;
                float:left;
            }
            .block input, .block label, .block select {
                margin-top: 15px;
                margin-left: 10px;
            }
            .col_id {
                text-align: center;
                color:white;
                background: orangered;
            }
            .active{
                background: #868686;
            }
            textarea {
                width: 320px;
                height: 40px;
                margin: 0px;
            }
            .table_input {
                text-align: center;
            }
            th {
                background-color: #1197d0;
                color: white;
                padding: 5px;
                text-transform: uppercase;
            }
            td {
                /*width: 50px;*/
            }
            .btn {
                border: none;
                padding: 10px;
                color: white;
                margin-top: 35px;
                float: right;
                border-radius: 5px;
            }
            tr:nth-child(odd) {
                background: #cbdaff;
            }
            .warning {
                border:1px solid palevioletred;
            }
            h3 {
                color: white;
                background: orangered;
                width: 100px;
                padding: 5px;
                text-align: center;
            }
            .error label{
                display: none;
            }
            @media screen and (max-width: 640px) {
                table,
                tbody,
                tr,
                td {
                    display: block;
                    width: auto!important;
                    /* parceque tu as mis des style inline grrr */
                }
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
        <script type="text/javascript">
            $("select").on('change', function(){
                var sel1 = $('#select_1').val();
                var sel2 = $('#select_2').val();
                var sel3 = $('#select_3').val();
                var sel4 = $('#select_4').val();
                var sel5 = $('#select_5').val();

                var sel1_n = $('#select_1_n').val();
                var sel2_n = $('#select_2_n').val();
                var sel3_n = $('#select_3_n').val();
                var sel4_n = $('#select_4_n').val();
                var sel5_n = $('#select_5_n').val();

                $("select option").show();

                $("#select_1  option[value=" + sel2 + "]").hide();
                $("#select_1  option[value=" + sel3 + "]").hide();
                $("#select_1  option[value=" + sel4 + "]").hide();
                $("#select_1  option[value=" + sel5 + "]").hide();

                $("#select_2  option[value=" + sel1 + "]").hide();
                $("#select_2  option[value=" + sel3 + "]").hide();
                $("#select_2  option[value=" + sel4 + "]").hide();
                $("#select_2  option[value=" + sel5 + "]").hide();

                $("#select_3  option[value=" + sel1 + "]").hide();
                $("#select_3  option[value=" + sel2 + "]").hide();
                $("#select_3  option[value=" + sel4 + "]").hide();
                $("#select_3  option[value=" + sel5 + "]").hide();

                $("#select_4  option[value=" + sel1 + "]").hide();
                $("#select_4  option[value=" + sel3 + "]").hide();
                $("#select_4  option[value=" + sel2 + "]").hide();
                $("#select_4  option[value=" + sel5 + "]").hide();

                $("#select_5  option[value=" + sel1 + "]").hide();
                $("#select_5  option[value=" + sel3 + "]").hide();
                $("#select_5  option[value=" + sel2 + "]").hide();
                $("#select_5  option[value=" + sel4 + "]").hide();

                /***********************************************/


                $("#select_1_n  option[value=" + sel2_n + "]").hide();
                $("#select_1_n  option[value=" + sel3_n + "]").hide();
                $("#select_1_n  option[value=" + sel4_n + "]").hide();
                $("#select_1_n  option[value=" + sel5_n + "]").hide();

                $("#select_2_n  option[value=" + sel1_n + "]").hide();
                $("#select_2_n  option[value=" + sel3_n + "]").hide();
                $("#select_2_n  option[value=" + sel4_n + "]").hide();
                $("#select_2_n  option[value=" + sel5_n + "]").hide();

                $("#select_3_n  option[value=" + sel1_n + "]").hide();
                $("#select_3_n  option[value=" + sel2_n + "]").hide();
                $("#select_3_n  option[value=" + sel4_n + "]").hide();
                $("#select_3_n  option[value=" + sel5_n + "]").hide();

                $("#select_4_n  option[value=" + sel1_n + "]").hide();
                $("#select_4_n  option[value=" + sel3_n + "]").hide();
                $("#select_4_n  option[value=" + sel2_n + "]").hide();
                $("#select_4_n  option[value=" + sel5_n + "]").hide();

                $("#select_5_n  option[value=" + sel1_n + "]").hide();
                $("#select_5_n  option[value=" + sel3_n + "]").hide();
                $("#select_5_n  option[value=" + sel2_n + "]").hide();
                $("#select_5_n  option[value=" + sel4_n + "]").hide();

            });
            jQuery.validator.setDefaults({
                debug: false,
                success: "valid"
            });
            var form = $("#myForm");
            form.validate({ errorPlacement: function(error, element) {} });
            form.on('change', function () {

                if(form.valid()){
                    $('.btn').prop("disabled",false);
                    $('.btn').css("background", "#1197d0");
                }
                else {
                    $('.btn').prop("disabled",false);
                }
                $(".error label").hide();
            });
        </script>
    {% endblock %}


