    {% extends 'base.html.twig' %}

    {% block body %}
        <div id="wrapper">
            <div id="container">
                <div id="DIV_1">
                    <h1 id="H1_2">
                        Enquête de satisfaction
                    </h1>
                    <div id="content_first" class="clearfix">
                        <form name="presta" method="post" id="myForm">
                        <h2> Par quels moyens préférez-vous recevoir les informations ?</h2>
                        <h4>Clicquez et déplacez l'élément dans l'ordre de préférence du plus haut celui qui vous intéresse le plus au plus bas celui qui vous intéresse le moins.</h4>
                            <ul id="sortable">
                                <li id="my_1" onmousedown="test();" class="ui-state-default">Item 1</li>
                                <li id="2" class="ui-state-default">Item 2</li>
                                <li id="3" class="ui-state-default">Item 3</li>
                                <li id="4" class="ui-state-default">Item 4</li>
                                <li id="5" class="ui-state-default">Item 5</li>
                                <li id="6" class="ui-state-default">Item 6</li>
                                <li id="7" class="ui-state-default">Item 7</li>
                            </ul>
                            <input type="hidden" value="" id="input_1">
                        <input class="btn" type="submit" value="Suivant" name="submit2">
                        </form>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}

    {% block stylesheets %}
        <style>

        </style>
    {% endblock %}

    {% block javascripts %}
        <style>
            .btn {
                border: none;
                padding: 10px;
                color: white;
                margin-top: 35px;
                float: right;
                border-radius: 5px;
            }
            #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
            #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
            html>body #sortable li { height: 1.5em; line-height: 1.2em;    border: 1px solid #1197d0; }
            html>body #sortable li:hover { color:white; background:#1197d0;  }
            .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
        </style>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript">
            function test() {
               console.log($("ul#someList li:first").attr("id"));
            }

            $( function() {
                $( "#sortable" ).sortable({
                    placeholder: "ui-state-highlight"
                });
                $( "#sortable" ).disableSelection();
            } );
        </script>
    {% endblock %}


