{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="DIV_1">
                <h1 id="H1_2">
                    Enquête de satisfaction
                </h1>
                <div id="content_first">
                    <h2>{{ description }}</h2>
                    <h3>{{ title }}</h3>
                    <table>
                        <tr>
                            <th>N°</th>
                            <th>PRESTATIONS</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

    </script>
{% endblock %}


