#flash{
    margin: 0 auto;
    color: #fff;
    background: rgba(218, 0, 0, 0.69);
    padding: 8px;
    border-radius: 5px;
    white-space: nowrap;
    width: 50%;
}
#numero_anonyme h2 {
    margin: 0px 0px 0px 0px;
}
#numero_anonyme {
    background: orangered;
    color: white;
    font-family: Calibri;
    width: 325px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px;
}
#numero_anonyme input[type=text] {
    width: 79%;
    border: none;
    float:left;
    margin: 8px 0;
    height: 40px;
    font-size: 20px;
    letter-spacing: 0.3em;
    text-align: center;
    box-sizing: border-box;
}
#form_save {
    float: left;
    border: none;
    color: white;
    height: 40px;
    padding: 5px;
    margin-top: 8px;
}
#DIV_1 {
    margin-top: 50px;
}

#H1_2 {
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
    text-decoration: none solid rgb(255, 255, 255);
    top: 25px;
    width: 360px;
    background: rgb(17, 151, 208) none repeat scroll 0% 0% / auto padding-box border-box;
    padding: 10px;
    margin: 0 auto;
}/*#H1_2*/

#content_first {
    width: 850px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal normal 16px / normal "calibri Light";
    margin: 0 auto;
    font-size: 15px;
    padding: 30px 30px 20px;
}

#BR_4 {
    font: normal normal normal normal 16px / normal "calibri Light";
}/*#BR_4*/

#BUTTON_5 {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 41px 18.5px;
    transform-origin: 41px 18.5px;
    caret-color: rgb(255, 255, 255);
    background: rgb(247, 77, 46) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal normal 15px / normal Arial;
    margin: 20px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    padding: 10px;
}

body {
    background-image: url('/bundles/app/images/cepsa.JPG');
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer {
    position: relative;
    right: 0;
    text-align: center;
    margin: 0 auto;
    /* bottom: 20px; */
    margin-top: 30px;
    background-color: #1197d0;
    left: 0;
    text-align: center;
}
.italique {
    display: block;
    font-size: 0.7rem;
    color: grey;
}
.footer-top {
    /* float: left; */
    width: 50%;
    /* height: 20px; */
    padding: 10px 0px;
    margin: 0 auto;
    /* background-size: contain; */
    /* background-color: #1197d0; */
    /* text-align: center; */
}
.inner {
    max-width: 1178px;
    margin: 0px auto;
    width: 100%;
}
.footer-top a {
    width: 10%;
    text-align: center;
    color: #FFF;
    margin: 0px 5%;
    font-family: calibri Light;
    font-size: 14px;
    display: inline-block;
}
a {
    text-decoration: none;
}
.footer-top img {
    width: 80%;
    margin: 7px auto;
    display: block;
}
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
.btn_ok {
    background: #777575;
}
.btn_ok:hover {
    background: #dddddd;
}
@import url('https://fonts.googleapis.com/css?family=Advent+Pro');


/******************************************************************
*******************************************************************
******                  MOBILE                             ********
*******************************************************************
*******************************************************************
 */
@media screen and (max-width: 980px)
{
    body {
        background-position: 16% 27%;
        background-size: auto;
    }
    #H1_2 {
        width: 82%;
        font-size: 4rem;
    }
    #BUTTON_5 {
        font: normal normal normal normal 25px / normal Arial;

    }
    #numero_anonyme {
        width: 88%;
        font-size: 2.08rem;
        margin-bottom: 50px;
    }
    #numero_anonyme input[type=text] {
        width: 74%;
        height: 89px;
        font-size: 3rem;
    }
    #form_save {
        height: 89px;
        font-size: 1em;
        padding: 13px;
    }
    #P_3 {
        width: 98%;
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        font: normal normal normal normal 16px / normal "calibri Light";
        margin: 0 auto;
        font-size: 2rem;
        padding: 20px;
    }
    .footer {
        width: 84%;
        position: relative;
    }
    .footer-top {
        width: 100%;
    }
}